.contenedor-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background: #fff;
  padding: 0 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.contenedor-nav__img {
  width: 190px;
}

.contenedor-nav__menu {
  display: flex;
  gap: 30px;
  font-size: 20px;
}

.contenedor-nav__item-menu {
  transition: all 0.3s ease;
}

.contenedor-nav__item-menu:hover {
  transform: scale(1.1);
}

.contenedor-nav__search-and-cart {
  display: flex;
  gap: 30px;
}

.contenedor-nav__search {
  display: flex;
  align-items: center;
}

.contenedor-nav__search-input {
  border: solid 1px rgb(182, 182, 182);
  padding: 10px 20px;
  border-radius: 20px;
}

.contenedor-nav__search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.contenedor-nav__search-input:focus-visible {
  outline: none;
}

.contenedor-nav__search-input::placeholder {
  opacity: 0.5;
  color: white;
}

/* Tablet */

@media (max-width: 1024px) {
  .contenedor-nav {
    flex-wrap: wrap;
    padding: 0 30px;
    height: auto;
  }

  .contenedor-nav__img {
    width: 150px;
  }

  .contenedor-nav__menu {
    gap: 20px;
    font-size: 18px;
    justify-content: center;
  }

  .contenedor-nav__search-and-cart {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Móvil */
@media (max-width: 768px) {
  .contenedor-nav {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .contenedor-nav__img {
    width: 120px;
    margin-bottom: 10px;
  }

  .contenedor-nav__menu {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 16px;
  }

  .contenedor-nav__search-input {
    width: 150px;
    padding: 8px 15px;
  }

  .contenedor-nav__search-and-cart {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

/* Pantallas pequeñas */
@media (max-width: 480px) {
  .contenedor-nav__img {
    width: 100px;
  }

  .contenedor-nav__menu {
    font-size: 14px;
    gap: 10px;
  }

  .contenedor-nav__search-input {
    width: 120px;
    font-size: 12px;
  }
}

/*Otro componente*/

.cart-widget {
  display: flex;
  align-items: center;
}

/*Otro componente*/

.item-list-container {
  height: 800px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.item-list-container__banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Para colocar el video o imagen detrás del título */
  filter: brightness(0.9);
}

.item-list-container__title {
  margin: auto;
  font-size: 100px;
  color: #ffffff;
  z-index: 1;
  position: relative;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000;
  backdrop-filter: blur(5px); /* Desenfoque del fondo */
}

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .item-list-container__title {
    font-size: 70px;
    text-align: center;
    padding: 0 20px;
  }
}

/* Móvil */
@media (max-width: 768px) {
  .item-list-container {
    height: 600px;
  }

  .item-list-container__title {
    font-size: 50px;
    padding: 0 10px;
  }
}

/* Pantallas pequeñas */
@media (max-width: 480px) {
  .item-list-container {
    height: 400px;
  }

  .item-list-container__title {
    font-size: 30px;
  }
}

/*Otro componente*/

.item-count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 50px;
  width: 30%;

  /*Sacar despues estos estilos y darle al padre un grid*/
}

.item-count-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.item-count {
  width: 30px;
  text-align: center;
  font-size: 40px;
}

.button-decrement,
.button-increase,
.add-to-cart-button {
  color: white;
  border-radius: 1px;
  background-color: #151515;
  font-size: 38px;
  min-width: 55px;
}

.add-to-cart-button {
  white-space: nowrap;
  width: 100%;
  font-size: 30px;
  height: 90px;
}

.is-disabled {
  background: #909090;
  cursor: default;
}
/*Otro componente*/

.ItemList {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/*Otro componente*/

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card__body {
  padding: 15px;
  text-align: center;
}

.card__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.card__description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.card__price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}
